# Default values for pubsub.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
rbac:
  enabled: false
  details: 

imagePullSecretsName: 

replicaCount: 1

env: 
  name: "AWS_REGION"
  value: "us-east-1"

image:
  repository: "infoblox"
  name: "atlas.pubsub"
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080
  logging_level: "debug"
  aws_region: "us-east-1"

resources: 
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 15m
    memory: 200Mi
