# Default values for pubsub.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
rbac:
  enabled: false
  details: {}

imagePullSecretsName:

replicaCount: 1

# additional annotations to add to the pods
podAnnotations:
  prometheus.io/port: "internal"
  prometheus.io/scrape: 'true'

# additional labels to add to the pods
podLabels: {}

env:
  name: "AWS_REGION"
  value: "us-east-1"

image:
  repository: "infobloxcto"
  name: "atlas.pubsub"
  tag:
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080
  logging_level: "debug"
  aws_region: "us-east-1"

internal:
  port: 5555

resources:
  limits:
    cpu: 1000m
    memory: 400Mi
  requests:
    cpu: 200m
    memory: 400Mi
